<div id="sidebar-wrapper">
    <ul class="sidebar">
        <li class="sidebar-main">

            <a id="sidebar-toggler" (click)="onToggle()" class = "cursor">
                SnooPI
                <span class="menu-icon glyphicon glyphicon-transfer"></span>
            </a>

        </li>

        <li class="sidebar-title"><span>NAVIGATION</span></li>

        <li class="sidebar-list">
            <a id="home-link" routerLink="/home/{{globals.mode=='cs'?'cs':'pi'}}">Home <span class="menu-icon fa fa-home"></span></a>
        </li>
        <li class="sidebar-list">
            <a id="projects-link" routerLink="/project-list/{{globals.mode}}">My Projects<span class="menu-icon fa fa-sitemap"></span></a>
        </li>
        <li class="sidebar-list">
            <a id="sbs-link" routerLink="/sched-blocks/{{globals.mode}}">My SBs<span class="menu-icon fa fa-cube"></span></a>
        </li>

        <li class="sidebar-title separator"><span>QUICK LINKS</span></li>

        <li class="sidebar-list">
        <a id="manual-link" href="http://almascience.org/observing/documents-and-tools/latest/snoopi-user-manual" target="_blank">User Manual<span class="menu-icon fa fa-file-pdf-o"></span></a>
        </li>
        <li class="sidebar-list">
            <a id="scport-link" href="https://almascience.org" target="_blank">Science Portal<span class="menu-icon fa fa-external-link"></span></a>
        </li>
        <li class="sidebar-list">
            <a id="arcq-link" href="http://www.almascience.org/aq" target="_blank">Archive Query<span class="menu-icon fa fa-archive"></span></a>
        </li>
        <li class="sidebar-list">
            <a id="helpdesk-link" href="https://help.almascience.org" target="_blank">Helpdesk<span class="menu-icon fa fa-support"></span></a>
        </li>

    </ul>

    <div class="sidebar-footer">
        <div class="col-xs-4">
            <a id="eso-link" href="http://eso.org" target="_blank">
                ESO
            </a>
        </div>
        <div class="col-xs-4">
            <a id="nrao-link" href="http://nrao.edu" target="_blank">
                NRAO
            </a>
        </div>
        <div class="col-xs-4">
            <a id="naoj-link" href="http://www.nao.ac.jp/en/" target="_blank">
                NAOJ
            </a>
        </div>
    </div>
</div>
