<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="appName">dra-tool</Property>
		<Property name="fileName">${sys:user.home}/logs/${appName}.log</Property>
		<Property name="filePattern">${sys:user.home}/logs/$${date:yyyy-MM}/${appName}-%d{MM-dd-yyyy}-%i.log.gz</Property>
		<Property name="logPattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %5p --- [%15.15t] %-40.40c{1.} : %m%n%ex</Property>
	</Properties>
	
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${logPattern}" />
		</Console>

		<RollingFile name="RollingFile" fileName="${fileName}" filePattern="${filePattern}">
			<PatternLayout pattern="${logPattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework" level="warn" additivity="false">
  			<AppenderRef ref="Console" />
  			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="org.hibernate" level="error" additivity="false">
  			<AppenderRef ref="Console" />
  			<AppenderRef ref="RollingFile" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>