<div class="row">
  <div class="widget tooltips">
  <a routerLink="{{ link }}">
      <div class="widget-body" style="overflow:hidden;height:110px">
          <div class="ppt-container">
              <div class="widget-icon {{ iconcolor }} pull-left ppt-element">
                  <i class="{{ icon }}"></i>
              </div>
              <div class="widget-content ppt-element">
                  <div class="title">{{ title }}</div>
              </div>
          </div>
          <div class="clearfix"></div>
      </div>
  </a>
  </div>
  </div>
