<div *ngIf="globals.isDataLoaded" class="app-header vcenter">
        <div class="col-xs-1 ">
            <img class="logo" src="assets/img/alma-logo.gif">
        </div>
        <div class="col-xs-2">
            <p class="title">AQUA QA0</p>
        </div>

    <div class="col-xs-3">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group" >
          <button type="button" id="statusIconsButton" class="btn btn-default" data-toggle="modal" data-target="#help" (click)="getHelp()">Help</button>
        </div>
        <div class="btn-group" role="group" >
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img style="height: 18px !important; width: 18px !important;" src="assets/img/avatar.png">
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">
              {{ getPiFullName() }} </li>
            <li class="divider"></li>
            <li class="link" target="_blank">
              <a href="http://asa.alma.cl/UserRegistration/secure/updateAccount.jsp">
                My profile
              </a>
            </li>
            <li class="link">
              <a id="header-logout" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

</div>

