<nav class="navbar navbar-expand alma-blue">
  <a class="navbar-brand" href="#">
    <img class="alma-logo" src='assets/img/alma-logo.jpg'>
    &nbsp;
    <strong>AQUA &middot; QA0</strong>&nbsp;&nbsp;<span class="alma-sw-version">v.2020-06</span>
  </a>

  <ul class="nav nav-tabs mr-auto">
    <li class="nav-item" *ngIf="false">
      <a class="nav-link" routerLink = "dashboard" [ngClass]="{'active': router.url.indexOf('/dashboard') > -1 || (router.url == '/')}">
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "search" [ngClass]="{'active': router.url.indexOf('/search') > -1 || (router.url == '/')}">
        Search
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "execblock" [queryParams]="{ebuid: globals.currentExecBlockUID}" 
      [ngClass]="{'active': router.url.indexOf('/execblock') > -1}" *ngIf="globals.currentExecBlockUID != null">
        ExecBLock
      </a>
    </li>
  </ul>

  <!-- Filler, pushes the next items to the right -->
  <!-- <span class="flex-md-fill"></span> -->

  <ul class="navbar-nav ml-auto">
    <li ngbDropdown class="nav-item">
      <a ngbDropdownToggle class="nav-link">
        <i class="fas fa-question has-text"></i> Help
      </a>
      <div ngbDropdownMenu>
        <a href="https://almascience.eso.org/internal-documents/aqua-release-notes" target="_blank" ngbDropdownItem>
          <i class="fas fa-question has-text"></i> Release notes
        </a>
        <a href="mailto:usd-help@alma.cl?subject=Cool%20UI%20example!" ngbDropdownItem>
          <i class="fas fa-envelope has-text"></i> Send us your comments
        </a>
      </div>
    </li>

    <li class="nav-item" style="width: 200px;" ngbDropdown>
      <a ngbDropdownToggle class="nav-link" *ngIf="! utils.isNullOrUndefined(globals.account)">
          <i class="fas fa-user has-text"></i> {{globals.account.firstName}} {{globals.account.lastName}}
      </a>
      <div ngbDropdownMenu>
        <a ngbDropdownItem href="http://asa.alma.cl/UserRegistration/secure/updateAccount.jsp">
          <i class="fas fa-user-edit has-text"></i> User profile
        </a>
        <a ngbDropdownItem (click)="logout()">
          <i class="fas fa-sign-out-alt has-text"></i> Logout
        </a>
      </div>
    </li>

  </ul>

</nav>



<!-- <div style="padding-bottom: 5px"></div> Invisible spacer -->
